@model TesteDeConhecimento.Models.Venda

@{
    ViewData["Title"] = "Create";
}


<h1>Cadastro de Venda</h1>

<hr />

<div class="row">
    <center>
    <div class="col-md-4">
    <br />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Nome do Cliente</label>
                @Html.DropDownList("ClienteId", ViewBag.Clientes as SelectList, "Selecione um cliente", new { @class = "form-control" })
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label">Descrição do Produto</label>
                @Html.DropDownList("ProdutoId", ViewBag.Produtos as SelectList, "Selecione um produto", new { @class = "form-control" })
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="QtdVenda" class="control-label">Quantidade</label>
                <input asp-for="QtdVenda" class="form-control" />
                <span asp-validation-for="QtdVenda" class="text-danger"></span>
            </div>
            <br /><br />
            <div class="form-group">
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-success" />
            </div>
        </form>
    </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
